<% include ./partials/header%>

<!-- Gallery parallax side -->
  <div id="index-banner" class="parallax-container border">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Gallery</h1>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/gallery_head.png" alt="Unsplashed background img 1"></div>
  </div>

<br>
<br>
<br>

  <div class="container">
    <div class="section">

      <!--   Gallery Images   -->
      <!-- First row -->
      <div class="row">
        <div>
          <img src="images/gallery_1.jpg" alt="Roll Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>

        <div>
          <img src="images/gallery_2.jpeg" alt="Second Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>

        <div>
          <img src="images/gallery_3.jpg" alt="third Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Second row-->
  <div class="container">
    <div class="section">
      <div class="row">
      <div>
          <img src="images/gallery_4.jpeg" alt="forth Photograph" class="col s12 m4 circle z-depth-3 border">
      </div>
      <div>
        <img src="images/gallery_5.jpg" alt="fifth Photograph" class="col s12 m4 circle z-depth-3 border">
      </div>
      <div>
          <img src="images/gallery_6.jpg" alt="sixth Photograph" class="col s12 m4 circle z-depth-3 border">
      </div>
     </div>
    </div>
  </div>
  <br>  

  <!-- Third row -->
  <div class="container">
      <div class="section">
        <div class="row">
        <div>
            <img src="images/gallery_7.jpg" alt="seventh Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
        <div>
          <img src="images/gallery_8.jpg" alt="eighth Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
        <div>
            <img src="images/gallery_9.jpg" alt="ninth Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
       </div>
      </div>
    </div>
  <br>
  <!-- Fourth row -->
    <div class="container">
      <div class="section">
        <div class="row">
        <div>
            <img src="images/gallery_10.jpg" alt="tenth Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
        <div>
          <img src="images/gallery_11.jpg" alt="eleventh Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
        <div>
            <img src="images/gallery_12.jpeg" alt="twelfth Photograph" class="col s12 m4 circle z-depth-3 border">
        </div>
       </div>
      </div>
    </div>
    <br>

<% include ./partials/footer%>