<% include ./partials/header%>


<!-- First parallax container-->

  <div id="index-banner" class="parallax-container border">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Taimur ka Dhaba</h1>
        <div class="row center">
          <h5 class="header col s12 light">Food like home..... Hygiene like hospital</h5>
        </div>
        <div class="row center">
          <a href="menu.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">YUMMM YUMMM</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/dhaba.jpeg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   --><!-- First one -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lightining fast service</h5>

            <p class="light">We have all the experienced chef and waiters.
            They will take full care that your hunger is satisfied with grace and quickness.</p>
          </div>
        </div>
      <!--Second one -->
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">We here at Deluxe Dhaba take care of customer feedback.
            We are all open to suggestions on our service and constantly work to 
            ensure best experience for you.</p>
          </div>
        </div>
      <!--Third one -->
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed recipes as well as specific code examples
             to help new users get started. 
             We are also always open to feedback and can answer any questions a user may have about
             the dish.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- Second image parallax-->
  <div class="parallax-container valign-wrapper border">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A Well organised and maintained sitting place</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/dhaba2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Write contact info</p>
        </div>
      </div>

    </div>
  </div>

<!--Third parallax container-->

  <div class="parallax-container valign-wrapper border">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">In the heart of city.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/dhaba3.jpeg" alt="Unsplashed background img 3"></div>
  </div>

<%include ./partials/footer%>