<% include ./partials/header%>


              <!-- Cart head and the image-->
    <div class="container">
    <div><img src="images/shopping-cart.png" width="20%" height="20%" style="margin-top:0px" alt="Unsplashed background img 1"><h4>Your Shopping Cart is Ready</h4></div>
      <hr>

<!-- Main cart list and button -->
  <form action="/cart?_method=DELETE" method="POST">
    <%foods.forEach((food)=>{%>
      <button style="float:right" class="btn-floating btn-small waves-effect waves-light black" type="submit" name="food[id]" value="<%=food.id%>"><i class="material-icons">delete</i></button>
      <span class="pad flow-text"style="float:right">Quantity: <%=food.value%></span>
      </form>
      <h5><%=food.name%></h5>
    <% });%>
  </form>
  <hr>
  <form class="row" action="/order" method="GET">
    <button class="btn waves-effect waves-light black" type="submit" >Submit
    <i class="material-icons right">send</i>
  </button>  </form>
    
  </div>


<% include ./partials/footer%>